a {
  text-decoration: none;
  width: 130px;
}

a:focus {
  outline: none;
}

body {
  background: #224862;
  color: #ffffff;
  padding: 10px 15px;
  /*width: 800px;*/
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

.btn {
  background: #007acc;
  color: #ffffff;
  font-size: 1.28em;
  padding: 10px 20px 10px 20px;
  display: block;
  margin-bottom: 10px;
}

.incomplete {
  background: #1e2931 !important;
}

.btn:hover {
  cursor: pointer;
}

.sort {
  background: #46ad44;
}

.close {
  background: #ff5370;
}

.window {
  background: #5b9dff;
}

.prominent {
  font-weight: bold;
  font-size: 20px;
}

.hidden {
  display: none;
}


/*#sortByAge {
  background: #007acc;
}

#sortByUrl {
    background: #82add0;
}*/

/*#mergeWindows {
    background: #ff5370;
}

#extractDomain {
    background: #deae34;
}*/
/*
#sortByNumDomain {
    background: #22b086;
}*/

/*#splitWindow {
  background: #4f98cc;
}*/
/*
#closeTabsLeft {
  background: #8749a7;
}
#closeTabsRight {
  background: 
}
#closeAllExceptCurrentTab {
  background: 
}*/

