a {
  text-decoration: none;
  width: 130px;
}

body {
  background: #224862;
  color: #ffffff;
  padding: 5px 10px;
  /*width: 800px;*/
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

.btn {
  background: #007acc;
  color: #ffffff;
  font-size: 1.28em;
  padding: 10px 20px 10px 20px;
  display: block;
  margin-bottom: 10px;
}

.incomplete {
  background-color: #1e2931
}

.btn:hover {
  cursor: pointer;
}

#sortByAge {
  background-color: #007acc;
}

#sortByUrl {
    background: #82add0;
}

#mergeWindows {
    background: #ff5370;
}

#extractDomain {
    background: #deae34;
}

#sortByNumDomain {
    background: #22b086;
}

#splitWindow {
  background: #4f98cc;
}



.prominent {
  font-weight: bold;
  font-size: 20px;
}