.btn {
  background: #34bae0 ;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  display: block;
}

.btn:hover {
  cursor: pointer;
}

.prominent {
  font-weight: bold;
  font-size: 20px;
  display: block
}