a {
  text-decoration: none;
  width: 130px;
}

.btn {
  background: #007acc;
  color: #ffffff;
  font-size: 1.28em;
  padding: 10px 20px 10px 20px;
  display: block;
  margin-top: 5px;
}

.btn:hover {
  cursor: pointer;
}

#sortByUrl {
    background: #82add0;
}


#mergeWindows {
    background: #22b086;
}



.prominent {
  font-weight: bold;
  font-size: 20px;
}