.container {
  /*display: table;*/
}

a {
  text-decoration: none;
}
.btn {
  background: #34bae0 ;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  display: block;
}

.btn:hover {
  cursor: pointer;
}

#sortByAge {
  width: 150px;
}

.prominent {
  font-weight: bold;
  font-size: 20px;
}