body {
  background: #224862;
  color: #ffffff;
  padding: 10px 15px;
  /*width: 800px;*/
}

h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center
}

button {
  min-width: 200px;
  width: 80%;
  border: 1px solid black;
  background: #007acc;
  color: #ffffff;
  font-size: 1.3em;
  padding: 10px 20px;
  display: block;
  margin: 5px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.incomplete {
  background: #1e2931 !important;
}

.sort {
  background: #46ad44;
}

.close {
  background: #ff5370;
}

.window {
  background: #5b9dff;
}

.prominent {
  font-weight: bold;
  font-size: 20px;
}

.hidden {
  display: none;
}
